<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hopes & Dreams</title>
</head>
<body class="home">
	<h1 style="font-size: 60px; text-align: center; color: red">She had...</h1>
</body>
</html>